<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="ChromeTest">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="day9.GridExample" />
		</classes>
	</test> <!-- Test -->
	<test name="FFTest">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="day9.GridExample" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
